#content{
    /*margin-top: 52px;*/
    float: right;
    display: inline-block;
    width: 80%;
}
#content nav{
    height: 30px;
    border-bottom: solid 1px;
}
#content nav ol{
    height: 100%;
    margin: 0px;
}
#content nav ol li{
    height: 100%;
}
#content nav ol li a{
    height: 100%;
    padding: 5px;
}
.breadcrumb-item a{
    display: flex;
}
.table thead{
    background-color: darksalmon;
    text-align: center;
}
.table-group-divider{
    text-align: center;
}
.table-group-divider{
    border-bottom: solid 1px;
}
@media screen and (max-device-width:720px) {
    #content{
        width: 100%;
        display: block;
    }


}